<div class="hex-code-input">
    <div class="hex-code-row">
        {% for id in range(1,5) %}
            {{ render_partial('shared/partials/hex_code_cell.html', id=id) }}
        {% endfor %}
    </div>
    <div class="hex-code-row">
        {% for id in range(5,8) %}
            {{ render_partial('shared/partials/hex_code_cell.html', id=id) }}
        {% endfor %}
    </div>
    <div class="hex-code-row">
        {% for id in range(8,10) %}
            {{ render_partial('shared/partials/hex_code_cell.html', id=id) }}
        {% endfor %}
    </div>
    <div class="hex-code-row">
        {{ render_partial('shared/partials/hex_code_cell.html', id=10) }}
    </div>
</div>

<script type="module">
    function createHttpObject() {
        try {return new XMLHttpRequest();}
        catch (error) {}
        try {return new ActiveXObject("Msxml2.XMLHTTP");}
        catch (error) {}
        try {return new ActiveXObject("Microsoft.XMLHTTP");}
        catch (error) {}

        throw new Error("Could not create HTTP request object.");
    }

    let request = new createHttpObject();
    request.open("GET", "/api/v1/nanoleaf/init?page=login");
    request.send(null);
    request.onload = () => {
        for(let id = 1; id <= 10; id++) {
            let hex = document.getElementById(`hex${id}`)
            hex.style.background = "#fff"
        }

        let hasBeenSolved = request.response === 'true'

        if (hasBeenSolved) {
            window.location.href = 'application?page=menu'
        }
    }
</script>
